server {
    listen 81;
    root /var/www/test-site;
    include detailed_errors.conf.inc;
}

server {
    listen 80;
    root /var/www/test-site;
    include detailed_errors.conf.inc;

    location /proxy {
        include proxy_params;
        resolver 127.0.0.11 valid=60s;
        set $proxied_server "http://localhost:81";
        proxy_pass $proxied_server;
    }
}
